{% extends "base.html" %}

{% block title %}EV Betting{% endblock %}

{% block content %}
<table class="newtable">
    <tr>
        <td><img src="../static/draftkings.png" width="200px" height="200px"></td>
        <td class="a">Net: {{bookie_nets[0]}}</td>
        <td><img src="../static/fanduel.jpg" width="200px" height="200px"></td>
        <td class="a">Net: {{bookie_nets[1]}}</td>
      </tr>
    <tr>
    <tr>
        <td><img src="../static/betmgm2.png" width="200px" height="200px"></td>
        <td class="a">Net: {{bookie_nets[2]}}</td>
        <td><img src="../static/betrivers.png" width="200px" height="200px"></td>
        <td class="a">Net: {{bookie_nets[3]}}</td>
        </tr>
    <tr>
    <tr>
        <td><img src="../static/ballybet.png" width="200px" height="200px"></td>
        <td class="a">Net: {{bookie_nets[4]}}</td>
        <td><img src="../static/caesars.webp" width="200px" height="200px"></td>
        <td class="a">Net: {{bookie_nets[5]}}</td>
    </tr>
    <tr>
    <tr>
        <td><img src="../static/espnbet.png" width="200px" height="200px"></td>
        <td class="a">Net: {{bookie_nets[6]}}</td>
        <td><img src="../static/cash.JPG" width="200px" height="200px"></td>
        <td class="a">Net: {{bookie_nets[8]}}</td>
        </tr>
    <tr>
</table>
{%endblock%}







<!-----
<table>
    <tr>
        <th>
            <div class="align-container">
                <img src="../static/draftkings.png" width=200px height = 200px>
                <b class="a">Net: {{bookie_nets[0]}}</b>
                <img src="../static/fanduel.jpg" width=200px height = 200px>
                <b class="a">Net: {{bookie_nets[1]}}</b>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="align-container">
                <img src="../static/betmgm2.png" width="200px" height = 200px>
                <b class="a">Net: {{bookie_nets[2]}}</b>
                <img src="../static/betrivers.png" width="200px" height = 200px>
                <b class="a">Net: {{bookie_nets[3]}}</b>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="align-container">
                <img src="../static/ballybet.png" width="200px" height = 200px>
                <b class="a">Net: {{bookie_nets[4]}}</b>
                <img src="../static/caesars.webp" width="200px" height = 200px>
                <b class="a">Net: {{bookie_nets[5]}}</b>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="align-container">
                <img src="../static/espnbet.png" width="200px" height = 200px>
                <b class="a">Net: {{bookie_nets[6]}}</b>
                <img src="../static/cash.JPG" width="200px" height = 200px>
                <b class="a">Net: {{bookie_nets[8]}}</b>
            </div>
        </th>
    </tr>
</table>
--->