{% extends "base.html" %}

{% block title %}EV Betting{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Date</th>
        <th>Team</th>
        <th>
            Bookie
            <select id="sort-bookies" class="form-select">
                <option value="asc">A-Z</option>
                <option value="desc">Z-A</option>
            </select>
        </th>
        <th>Type</th>
        <th>Odds</th>
        <th>EV</th>
        <th>Net</th>
        <th>Outcome</th>
    </tr>
    {% for bet in bets %}
    <tr>
        <td>{{bet.date}} </td>
        <td>{{bet.team}} </td>
        <td>{{bet.bookie}}</td>
        <td>{{bet.bet_type}}</td>
        <td>{{bet.odds}}</td>
        <td>{{bet.this_EV}}</td>
        <td>{{bet.net}}</td>
        <td class="{{bet.outcome|lower}}">{{bet.outcome}}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>2000-00-00</th>
        <th>NET</th>
        <th>NET</th>
        <th>NET</th>
        <th>NET</th>
        <th>EV: {{ "%.2f"|format(bets_ev)}}</th>
        <th>NET: {{ "%.2f"|format(bets_net)}}</th>
        <th>Bets Won: {{bets_won}}       Bets Lost: {{bets_lost}}</th>
    </tr>
</table>


<script>
    document.getElementById("sort-bookies").addEventListener("change", function() {
        let order = this.value;
        let table = document.querySelector("table");
        let rows = Array.from(table.querySelectorAll("tr:nth-child(n+2)")); // Skip header row

        rows.sort((rowA, rowB) => {
            let bookieA = rowA.cells[2].textContent.trim().toLowerCase();
            let bookieB = rowB.cells[2].textContent.trim().toLowerCase();

            return order === "asc" ? bookieA.localeCompare(bookieB) : bookieB.localeCompare(bookieA);
        });

        rows.forEach(row => table.appendChild(row));
    });
</script>
{%endblock%}


