{% extends "base.html" %}

{% block title %}EV Betting{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Date</th>
        <th>Team</th>
        <th>Bookie</th>
        <th>Type</th>
        <th>Odds</th>
        <th>EV</th>
        <th>Net</th>
        <th>Outcome</th>
    </tr>
    {% for bet in bets %}
    <tr>
        <td>{{bet.date}} </td>
        <td>{{bet.team}} </td>
        <td>{{bet.bookie}}</td>
        <td>{{bet.bet_type}}</td>
        <td>{{bet.odds}}</td>
        <td>{{bet.this_EV}}</td>
        <td>{{bet.net}}</td>
        <td class="{{bet.outcome|lower}}">{{bet.outcome}}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>2000-00-00</th>
        <th>NET</th>
        <th>NET</th>
        <th>NET</th>
        <th>NET</th>
        <th>EV: {{ "%.2f"|format(bets_ev)}}</th>
        <th>NET: {{ "%.2f"|format(bets_net)}}</th>
        <th>Bets Won: {{bets_won}}       Bets Lost: {{bets_lost}}</th>
    </tr>
</table>
{%endblock%}


